<% layout('layouts/boilerplate') %>
<small class="text-muted">Question</small>
<h6><%= ans.question.title %></h6>
<p><%= ans.question.description %> </p>
<form action="/questions/<%= ans.question._id %>/answers/<%= ans._id %>?_method=PUT" method="POST\" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="answer" class="text-muted"><small>Answer:</small></label>
        <textarea name="answer" id="answer" class="form-control" required><%= ans.answer %> </textarea>
    </div>
    <button type="submit" class="btn btn-sm">Submit</button>
</form>