<% layout('layouts/boilerplate') %>
<h1>All answers</h1>
<h5>Question: <%= values.question %>
</h5>
<% if(values.answers.length==0) {%>
<p>No answers have been added yet</p>
<% }else{ %>
<% for(ans of values.answers){ %>
<div class="card">
    <div class="card-body">
        <div class="card-text">
            <%= ans.answer %>
        </div>
        <div class="card-link">
            <% if(user && user._id.equals(ans.author)){ %>
            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/edit">
                <button class="btn btn-primary btn-sm">Edit</button>
            </form>
            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>?_method=delete" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
            <% } %>
        </div>
    </div>
</div>
<% } %>
<% } %>