<% layout('layouts/boilerplate') %>
<div class="card">
    <div class="card-body">
        <small class="text-muted">Question</small>
        <div class="row">
            <div class="col-1">
                <% if(user) {%>
                <div class="col">
                    <div class="row">
                        <form action="/questions/<%= values._id %>/upvote" class="col ms-2">
                            <button class="btn btn-sm"><i class="fas fa-angle-up"></i></button>
                        </form>
                    </div>
                    <div class="row">
                        <form action="/questions/<%= values._id %>/downvote" class="col ms-2">
                            <button class="btn btn-sm"><i class="fas fa-angle-down"></i></button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col-10">
                <h5 class="card-title"><%= values.title%></h5>
                <div class="card-text">
                    <%= values.description %>
                </div>
            </div>
            <div class="col-1">
                <div class="row">
                    <% if(user && user._id.equals(values.author)){ %>
                    <form action="/questions/<%= values._id %>/edit" class="col ms-2">
                        <button class="btn btn-sm"><i class="fas fa-edit"></i></button>
                    </form>
                    <form action="/questions/<%= values._id %>?_method=delete" method="POST" class="col ms-2">
                        <button class="btn btn-sm"><i class="fas fa-trash"></i></button>
                    </form>

                    <% } %>
                </div>
            </div>
        </div>


        <div class="card-link col">

        </div>

        <div class="card-text">
            </h5>
            <% if(values.answers.length==0) {%>
            <small class="text-muted">
                No answers have been added yet
            </small>
            <% }else{ %>
            <small class="text-muted">Answers</small>
            <% for(ans of values.answers){ %>
            <div class="card">
                <div class="card-body row">
                    <div class="col-1">
                        <% if(user) {%>
                        <div class="col">
                            <div class="row">
                                <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/upvote" class="col">
                                    <button class="btn btn-sm"><i class="fas fa-angle-up"></i></button>
                                </form>
                            </div>
                            <div class="row">
                                <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/downvote" class="col">
                                    <button class="btn btn-sm"><i class="fas fa-angle-down"></i></button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="card-text col-10">
                        <%= ans.answer %>
                    </div>
                    <div class="card-link col-1">
                        <div class="row">
                            <% if(user && user._id.equals(ans.author)){ %>
                            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/edit" class="col ms-2">
                                <button class="btn btn-sm"><i class="fas fa-edit"></i></button>
                            </form>
                            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>?_method=delete"
                                method="POST" class="col ms-2">
                                <button class="btn btn-sm"><i class="fas fa-trash"></i></button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="card card-body">
            <p>
                <a class="btn btn-sm" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false"
                    aria-controls="collapse">
                    Write your answer...
                </a>
            </p>
            <div class="collapse" id="collapse">
                <form action="/questions/<%= values._id %>/answers" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <textarea name="answer" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-sm">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>