<% layout('layouts/boilerplate') %>
<div class="card">
    <div class="card-body">
        <small class="text-muted">Question</small>
        <h5 class="card-title"><%= values.title%></h5>
        <div class="card-text">
            <%= values.description %>
            <div class="card-link col">
                <div class="row">
                    <% if(user) {%>
                    <form action="/questions/<%= values._id %>/upvote" class="col ms-2">
                        <button class="btn btn-sm">Upvote</button>
                    </form>
                    <form action="/questions/<%= values._id %>/downvote" class="col ms-2">
                        <button class="btn btn-sm">Downvote</button>
                    </form>
                    <% } %>
                    <% if(user && user._id.equals(values.author)){ %>
                    <form action="/questions/<%= values._id %>/edit" class="col ms-2">
                        <button class="btn btn-sm">Edit</button>
                    </form>
                    <form action="/questions/<%= values._id %>?_method=delete" method="POST" class="col ms-2">
                        <button class="btn btn-sm">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card-text">
            </h5>
            <% if(values.answers.length==0) {%>
            <p>No answers have been added yet</p>
            <% }else{ %>
            <small class="text-muted">Answers</small>
            <% for(ans of values.answers){ %>
            <div class="card">
                <div class="card-body row">
                    <div class="card-text col-9">
                        <%= ans.answer %>
                    </div>
                    <div class="card-link col">
                        <div class="row">
                            <% if(user) {%>
                            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/upvote" class="col ms-2">
                                <button class="btn btn-sm">Upvote</button>
                            </form>
                            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/downvote"
                                class="col ms-2">
                                <button class="btn btn-sm">Downvote</button>
                            </form>
                            <% } %>
                            <% if(user && user._id.equals(ans.author)){ %>
                            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>/edit" class="col ms-2">
                                <button class="btn btn-sm">Edit</button>
                            </form>
                            <form action="/questions/<%= values._id %>/answers/<%= ans._id %>?_method=delete"
                                method="POST" class="col ms-2">
                                <button class="btn btn-sm">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="card card-body">
            <p>
                <a class="btn btn-sm" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false"
                    aria-controls="collapse">
                    Write your answer...
                </a>
            </p>
            <div class="collapse" id="collapse">
                <form action="/questions/<%= values._id %>/answers" method="POST" class="validate-form" novalidate>
                    <div class="mb-3">
                        <textarea name="answer" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-sm">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>