<% layout('layouts/boilerplate') %>
<h1>All questions</h1>

<% for(question of questions){ %>
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= question.title %> </h5>
        <div class="card-text">
            <%= question.description %>
        </div>
        <div class="card-link">
            <a href="/questions/<%= question._id %>/edit" class="btn btn-primary btn-sm">Edit</a>
            
            <form action="/questions/<%= question.id %>/delete?_method=delete" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>

            <a href="/questions/<%= question._id %>/answers" class="btn btn-success btn-sm">Answers</a>
            
            <a href="/questions/<%= question._id %>/new" class="btn btn-info btn-sm">Answer the question</a>
        </div>
    </div>
</div>
<% } %>